body, html, .navContainer {
    height: 100%;
}
md-sidenav {
    height: 100%;
    position: relative;
}
.openMenu {
    background: none repeat scroll 0% 0% transparent;
    border: none;
    padding-top: 5px;
}
