<div ng-controller="MainCtrl" layout="vertical" layout-fill >
    <section layout="horizontal" flex="1">
        <md-sidenav class="md-sidenav-left" component-id="left" is-locked-open="$media('md')">
            <h1 class="md-toolbar-tools">Sidenav Left</h1>
        </md-sidenav>

        <md-sidenav></md-sidenav>
        
        <md-content>
            Center Content
            <md-button ng-click="openLeftMenu()">
                Open Left Menu
            </md-button>
        </md-content>

    </section>
</div>